@model SimulationGaragistes.ViewModels.VMSimulation

<h1>Simulation</h1>

@using(Html.BeginForm("startSimulation","Simulation",FormMethod.Post))
{

    <h2>Durée</h2>

    <p>
        @Html.Label("Début : ")
        @Html.TextBox("dateStart", Model.dateStart)
        @Html.Label("Durée : ")
        @Html.TextBox("nbJours",Model.nbJours)
    </p>

    <div id="divGaragistes">

        <h2>Garagistes</h2>

        <table>
            <tr>
                <th>Garagiste</th>
                <th>Franchise</th>
                <th></th>
            </tr>
            @{
    foreach (var item in Model.GaragistesConfs)
    {
        <tr>
            <td>@item.Garagiste.nom</td>
            <td>@item.Garagiste.Franchises.label</td>
            <td>@Html.CheckBox("garagiste" + item.Garagiste.id, @item.Comfirmed)</td>
        </tr>
    }
            }
        </table>

    </div>
    <div id="divVacances">
        <p>
            Vacances
        </p>
    </div>
    <div id="divVoitures">

    </div>
        <h2>Voitures</h2>
        <table>
            <tr>
                <th>Modèle</th>
                <th>Marque</th>
                <th>Nombre</th>
            </tr>
            @{
            foreach (var item in Model.ModelesConfs)
                {
                    <tr>
                        <td>@item.Modele.label</td>
                        <td>@item.Modele.Marques.label</td>
                        <td>@Html.TextBox("modele" + item.Modele.id,item.Quantite)</td>
                    </tr>
                }
            }
        </table>

    <input type="submit" name="startSimulation" value="Go !" />
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#dateStart").datepicker();
    })
</script>