<h1>Liste des révisions</h1>

@model List<SimulationGaragistesDAL.Model.Révisions>
@Html.Partial("Menu")

<table>
    <tr>
        <th>Révision</th>
        <th>Durée par défault (en heure)</th>
        <th></th>
        <th></th>
    </tr>
    @{
        foreach (var item in Model)
        {
            <tr>
                <td>@item.label</td>
                <td>@item.defaultTime</td>
                <td>@Html.ActionLink("modifier", "Insert", new { id = item.id }, null)</td>
                <td>@Html.ActionLink("supprimer", "Delete", new { id = item.id }, null)</td>
            </tr>
        }
    }
</table>
