
@model SimulationGaragistesDAL.Model.Révisions
@Html.Partial("MenuAleatoire")
<div class=" col-md-8">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h1>Ajouter/Modifier une révision</h1>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm("InsertAleatoire", "Révisions", FormMethod.Post))
            {
                @Html.ValidationMessage("error")
                @Html.Hidden("id", Model.id)
                <div class="input-group" style="width:auto;">
                    @Html.TextBox("label", Model.label, new { @class = "form-control" })
                </div>
                <br />
                <div class="input-group">
                    @Html.TextBox("defaultTime", Model.defaultTime == 0 ? 1 : Model.defaultTime, new { @class = "form-control" })
                </div>
                <br />
                string mod = Model.id == 0 ? "Ajouter" : "Modifier";
                <input type="submit" class="btn btn-default" value="@mod" />
            }
        </div>
    </div>
</div>
<div class="col-md-2">
    @if (TempData["success"] != null)
    {
        <p class="alert alert-success">@TempData["success"]</p>
    }
    @if (TempData["errors"] != null)
    {
        <p class="alert alert-danger">    @TempData["errors"]</p>
    }
</div>
