@model SimulationGaragistes.ViewModels.VMStatistiques
@{
    Utils.ErrorHandler eh = new Utils.ErrorHandler();
    SimlulationGaragistesService.Service.ServiceGaragistes serviceGar = new SimlulationGaragistesService.Service.ServiceGaragistes(eh);
    SimlulationGaragistesService.Service.ServiceRévisions serviceRev = new SimlulationGaragistesService.Service.ServiceRévisions(eh);
            
}

<table class="table table-striped">
    <tr>
        <th>
            Garagiste
        </th>
        <th>
            Révision
        </th>
        <th>
            Nombre
        </th>
    </tr>

    @{
        SimulationGaragistesDAL.Model.Statistiques prevItem = new SimulationGaragistesDAL.Model.Statistiques();   
       foreach (var item in Model.Simulation.Statistiques.OrderBy(s => s.garagiste_id).ThenBy(s => s.revision_id))
        {
            if (item.revision_id != -1)
            {
                if (item.revision_id != prevItem.revision_id || item.garagiste_id != prevItem.garagiste_id)
                {
                    <tr>
                    <td>
                        @if (item.garagiste_id != prevItem.garagiste_id)
                        {
                            string res =  item.garagiste;
                            <div>@res</div>
                        }
                    </td>
                    <td>
                        @item.revision @(item.km == 0 ? "(aléatoire)" : item.km.ToString())
                    </td>
                    <td>
                        @Model.Simulation.Statistiques.Where(s => s.revision_id == item.revision_id && s.garagiste_id == item.garagiste_id).Count()
                    </td>
                      </tr>  
                }
                prevItem = item;
            }
        }   
    }

</table>
<p>
    Durée de la simulation : @Model.Simulation.duree
    
    <table class="table">
        <tr>
            <th>
                Garagiste
            </th>
            <th>
                Interventions
            </th>
            <th>
                Durée totale
            </th>
            <th>
                Heures disponibles
            </th>
            <th>
                Occupation
            </th>
        </tr>

        @foreach (var item in Model.Occupations)
        {
            <tr>
                <td>
                    @item.Garagiste
                </td>
                <td>
                    @item.Interventions
                </td>
                <td>
                    @item.DureeTotal
                </td>
                <td>
                    @(item.JourTravailles * 8 - item.DureeTotal)
                </td>

                <td>
                    @{
                        double occup = (item.DureeTotal * 100 / (item.JourTravailles * 8));
                    }
                    @occup %
                </td>
            </tr>
        }
    </table>
