@model IEnumerable<SimulationGaragistesDAL.Model.Simulations>

<table class="table">
    <tr>
        <th>
            Simulation
        </th>
        <th>
            Fichier
        </th>
        <th>
            Date
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(@item.nom, "Details", new { id = item.id },null)        
        </td>
        <td>

            @{
                String rootPath = Server.MapPath("~/Logs/");
                String path = (rootPath + item.nom);
                string src = path;
            }
            <a href="@src">@item.nom+.txt</a>
        </td>
        <td>
            @item.created
        </td>
    </tr>
}

</table>
