@using SimulationGaragistesDAL.Model
@Html.Partial("Menu")

<div class="col-md-8">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h1>Liste des Franchises</h1>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <tr>
                    <th>Franchise</th>
                    <th>Actions</th>
                </tr>
                @foreach (Franchises franchise in (List<Franchises>)ViewData["lFranchises"])
                {
                    <tr>
                        <td>@franchise.label</td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-default" href="@Url.Action("Insert", "Franchises", new { id = franchise.id })">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                            </div>
                            <div class="btn-group">
                                <a class="btn btn-danger" href="@Url.Action("Delete", "Franchises", new { id = franchise.id })">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </table>

        </div>
    </div>
</div>
<div class="col-md-2">
    @if (TempData["success"] != null)
    {
        <p class="alert alert-success">@TempData["success"]</p>
    }
    @if (TempData["error"] != null)
    {
        <p class="alert alert-danger">    @TempData["error"]</p>
    }
</div>
