@model SimulationGaragistes.ViewModels.VMVacances

@{
    int count = 0;
}
@Html.Partial("Menu")
<div class="col-md-8">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h1>Configurer les vacances</h1>
        </div>
        <div class="panel-body">
            <table class="table">
                <tr>
                    <th>Début</th>
                    <th>fin</th>
                    <th>Actions</th>
                </tr>
                @{
                    foreach (var item in Model.Garagiste.Vacances)
                    {
                        <tr>
                            @using (Html.BeginForm("EditVacance", "Garagistes", FormMethod.Post))
                            {
                                @Html.Hidden("Vacance.id", item.id)
                                @Html.Hidden("Vacance.garagiste_id", item.garagiste_id)
                                <td>@item.debut.ToShortDateString()</td>
                                <td>@item.fin.ToShortDateString()</td>
                                count++;
                            }
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-danger" href="@Url.Action("DeleteVacance", "Garagistes", new { id = item.id, idGaragiste = item.garagiste_id })">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                }
                <tr>
                    @using (Html.BeginForm("addVacance", "Garagistes", FormMethod.Post))
                    {
                        @Html.HiddenFor(m => Model.Vacance.garagiste_id)
                        <td>@Html.TextBox("Vacance.debut", Model.Vacance.debut.ToShortDateString(), new { @class = "datepicker form-control" })</td>
                        <td>@Html.TextBox("Vacance.fin", Model.Vacance.fin.ToShortDateString(), new { @class = "datepicker form-control" })</td>
                        <td><input type="submit" name="submit" value="Ajouter" class="btn btn-default" /></td>
                    }

                </tr>
            </table>
        </div>
    </div>
</div>
<div class="col-md-2">
    @if (TempData["success"] != null)
    {
        <p class="alert alert-success">@TempData["success"]</p>
    }
    @if (TempData["error"] != null)
    {
        <p class="alert alert-danger">    @TempData["error"]</p>
    }
</div>
<script type="text/javascript">
    $(document).ready(function () {
        //$(".datepicker")[0].datepicker();
        var list = $(".datepicker");
        for (var i = 0; i < list.length; i++) {
            var id = (list[i].getAttribute("id"));
            $("#" + id).datepicker($.datepicker.regional["fr"]);
        }
})
</script>
