@model SimulationGaragistes.ViewModels.VMRevisions
<h1>Choisir la révision à configurer</h1>


@Html.ValidationMessage("error");
<table>
    <tr>
        <th>Voiture</th>
        <th>Révision</th>
        <th>KM</th>
    </tr>
    @{
        foreach (var item in Model.lRevisions)
        {
            <tr>
                <td>@item.Modeles.Marques.label @item.Modeles.label</td>
                <td>@item.label </td>
                <td>@item.km</td>
                <td>@Html.TextBox("duree"+@item.id,@item.defaultTime)</td>
                <td><a  id=@( @item.id) onclick="clicked(@item.id,@Model.idGaragiste)">Changer durée</a></td>
            </tr>
        }
    }
</table>

<script type="text/javascript">
    function clicked(revId, garagiteId) {
        var duree = $("#duree" + revId).val();
        var params = { idGaragiste: garagiteId, idRevision: revId, pDuree: duree }

        var url = "/Garagistes/ChangeDureeRevision";//?idGaragiste=" + garagiteId + "&idRevision=" + revId + "&pDuree=" + duree;
        
        $.ajax({
                type: "GET",
                url: url,
                data: params
            });
    }
</script>
