<h1>Listes des garagistes</h1>

@model List<SimulationGaragistesDAL.Model.Garagistes>
@Html.Partial("Menu")

<p>@TempData["success"]</p>
<table>
    <tr>
        <th>Nom</th>
        <th>Franchise</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    @foreach (SimulationGaragistesDAL.Model.Garagistes garagiste in Model)
    {
        <tr>
            <td>@garagiste.nom</td>
            <td>@garagiste.Franchises.label</td>
            <td>
                @Html.ActionLink("modifier", "Insert", "Garagistes", new { 
                    id = garagiste.id
                },null)
            </td>
            <td>
                @Html.ActionLink("supprimer", "Delete", "Garagistes", new
               {
                   id = garagiste.id
               }, null)
            </td>
            <td>
                @Html.ActionLink("configurer révisions", "ConfigureRevisions", "Garagistes", new
               {
                   id = garagiste.id
               }, null)
            </td>
            <td>
                @Html.ActionLink("configurer vacances", "ConfigureVacances", "Garagistes", new { id = garagiste.id},null)
            </td>
        </tr>
    }
</table>
