<h1>Ajouter un Garagiste</h1>

@model SimulationGaragistes.ViewModels.VMGaragistes
@Html.Partial("Menu")

<p>@TempData["success"]</p>
@using (Html.BeginForm("Insert", "Garagistes", FormMethod.Post))
{
    @Html.ValidationMessage("error")
    @TempData["message"]
    @Html.Hidden("id",Model.Garagiste.id)
    @Html.Label("nom")
    <div class="input-group">
        @Html.TextBox("nom", Model.Garagiste.nom, new { @class = "form-control" })
    </div>
    <br />
    <div class="input-group">
     @Html.DropDownList("franchise", Model.lFranchises, new { @class = "btn dropdown-toggle" })
    </div> 
    <br />
    
    string mod = Model.Garagiste.id <= 0 ? "Ajouter" : "Modifier";
    <input type="submit" class="btn btn-default" value=@mod>
}