@model List<SimulationGaragistesDAL.Model.Marques>
@Html.Partial("Menu")


<div class="col-md-8">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h1>Listes des Marques</h1>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <tr>
                    <th>Marque</th>
                    <th>Actions</th>
                </tr>
                @{
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.label</td>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-default" href="@Url.Action("Insert", "Marques", new { id = item.id })">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </a>
                                </div>
                                <div class="btn-group">
                                    <a class="btn btn-danger" href="@Url.Action("Delete", "Marques", new { id = item.id })">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
</div>
<div class="col-md-2">
    @if (TempData["success"] != null)
    {
        <p class="alert alert-success">@TempData["success"]</p>
    }
    @if (TempData["error"] != null)
    {
        <p class="alert alert-danger">    @TempData["error"]</p>
    }
</div>